{% extends "./base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
    <div class="container about">
        <main>
            <section class="about-us" id="about-us">
                <h1>About Company</h1>
                <p>
                    Justgym Fitness Wear is your ultimate destination for premium activewear that seamlessly blends style, comfort, and performance. Our mission is simple: to elevate your workout experience while keeping you effortlessly fashionable and confident.
                </p>

                <img src="image/Union.jpg" alt="">

                <ul>
                    <li>
                        <h2>The Justgym Difference</h2>
                        <p>
                            At Justgym Fitness Wear, we believe that your journey to a healthier and more active lifestyle should be inspiring and enjoyable. That's why we curate a diverse collection of activewear that not only meets the highest standards of performance but also caters to your unique style.
                        </p>

                    </li>
                    <li>
                        <h2>Elevate Your Active Lifestyle</h2>
                        <p>
                            Our extensive range of activewear is thoughtfully designed to empower you in every step of your fitness journey. From high-intensity workouts to leisurely yoga sessions, our apparel is crafted to provide the perfect blend of functionality and fashion.
                        </p>
                    </li>
                    <li>
                        <h2>Uncompromising Quality</h2>
                        <p>
                            We are committed to delivering activewear that stands up to the rigors of your active lifestyle. Our products are made with the finest materials, ensuring durability, breathability, and comfort that lasts through your most challenging workouts.
                        </p>
                    </li>
                    <li>
                        <h2>Your Confidence, Our Priority</h2>
                        <p>
                            We understand the importance of feeling confident in what you wear. That's why we meticulously select designs that not only perform but also make you feel your best. Whether you're hitting the gym or running errands, our activewear will have you looking and feeling your finest.
                        </p>
                    </li>
                    <li>
                        <h2>Join the Justgym Community</h2>
                        <p>
                            Justgym Fitness Wear is more than just a brand; it's a community of fitness enthusiasts who value quality, style, and wellness. Join us in embracing an active lifestyle that's as fashionable as it is functional.
                        </p>
                    </li>
                    <li>
                        <h2>Shop with Confidence</h2>
                        <p>
                            Browse our collection and discover the perfect activewear pieces to elevate your fitness journey. With Justgym Fitness Wear, you're not just buying clothing; you're investing in a lifestyle that prioritizes health, style, and performance.
                            Experience the Justgym difference today and redefine your active wardrobe with us.
                        </p>

                    </li>
                    <li>
                        <h2>Inspiration:</h2>
                        <p>
                            https://www.ynap.com/what-we-do/multibrand-online-stores/yoox/ 
                        </p> 
                    </li>
                </ul>
            </section>
            <section class="contact-us" id="contact-us">
                <div class="div">
                    <img src="image/Frame 412.png" alt="" class="frame">
                    <form action="" method="post">
                        <h3>Get In Touch</h3>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem ab animi, 
                            voluptatum rerum inventore dolores repellat quaerat eius 
                            facilis nostrum id omnis ipsam maxime quos autem, obcaecati, officia deleniti itaque?
                        </p>
                        <span>
                            <input type="text" name="name" class="name" id="name" placeholder="Your Name*" required>
                            <input type="email" name="email" id="email" class="email" placeholder="Your E-mail*" required>
                        </span>
                        <input type="text" class="subject" id="subject" placeholder="Subject*" required>
                        <textarea name="" class="contact-message" id="contact-message" cols="68.5" rows="15" placeholder="Type Your Message..." required></textarea>
                        <button type="submit">Send Mail</button>
                    </form>
                </div>
            </section>
        </main>
    </div>
{% endblock %}