{% extends "./base.html" %}
{% load static %}
{% block title %}Details{% endblock %}
{% block content %}
<body>
    <div class="container shop detail">
        <header>
            <section class="blue">
                <div class="box">
                    <select>
                        <option value="">SELECT LOCATION</option>
                    </select>
                    <h1>
                        FREE STATNDARD SHIPPING ON ORDERS OVER &dollar;250 | SHOP NEW ARRIVALS
                    </h1>
                    <a href="">SUPPORT</a>
                </div>
            </section>
            <section class="white">
                <div class="box">
                    <div class="logo">
                        <img src="image/logo.jpg" alt="">
                        <h1>JUSTGYM</h1>
                    </div>
                    <div class="search">
                        <select name="" id="">
                            <option value="">All Categories</option>
                        </select>
                        <span>
                            <input type="text" name="" id="" placeholder="Search our marketplace">
                            <i class="bi bi-search"></i>
                        </span>
                    </div>
                    <div class="links">
                        <a href="">Shop</a>
                        <a href="">My Chat 
                            <i class="bi bi-cart"><sup>0</sup></i>
                        </a>
                    </div>
                    <div class="btn">
                        <button>
                            <a href="" class="reg-btn">
                                Register 
                                <i class="bx bx-user"></i>
                            </a>
                        </button>
                        <button class="login">
                            <a href="">
                                Log in
                                <i class="bx bx-user"></i>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
        </header>
        <section class="pageTitle">
            <div class="titleDiv">
                <h1>Checkout</h1>
                <h1>
                    <a href="">HOME</a>
                    <span class="active">
                        <span>&gt;</span>
                        <a href="">SHOP</a>
                    </span>
                </h1>
            </div>
        </section>
        <main class="mainContainer">
            <div class="section one">
                <h1>&lt;</h1>
                <div class="images">
                    <img src="image/forth.jpg" alt="" class="img1">
                    <div class="small">
                        <img src="image/forth.jpg" alt="">
                        <img src="image/forth.jpg" alt="">
                        <img src="image/forth.jpg" alt="">
                    </div>
                </div>
                <h1>&gt;</h1>
            </div>
            <div class="section two">
                <h3>Swim Brief</h3>
                <div class="review">
                    <span class="rating">
                        <i class="bi bi-star-fill yellow"></i>
                        <i class="bi bi-star-fill yellow"></i>
                        <i class="bi bi-star-fill yellow"></i>
                        <i class="bi bi-star-fill yellow"></i>
                        <i class="bi bi-star"></i>
                    </span>
                    <a href="">(1 customer review)</a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Impedit, quo minima! Quam dicta at consequuntur 
                    a nihil fuga doloribus velit. Lorem, ipsum dolor sit
                    amet consectetur adipisicing elit. Quia, quae!
                </p>
                <div class="price">
                    <span>
                        <h3>&dollar;36.23 USD</h3>
                        <p><del>48.56 USD</del></p>
                    </span>
                    <span class="unit">
                        <input type="number" value="1" aria-controls="none">
                        <select>
                            <option value="Pcs">Pcs</option>
                        </select>
                    </span>
                    <button type="submit">&plus; Add to cart</button>
                </div>
                <div class="tab-heading">
                    <h4 class="active">Description</h4>
                    <h4>Reviews <span>18</span></h4>
                    <h4>Question <span>4</span></h4>
                </div>
                <div class="tab-text">
                    <span>Origin</span>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Porro, pariatur recusandae nesciunt sed reprehenderit iusto 
                        officia deleniti totam cum velit.
                    </p>
                    <span>How to cook</span>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Porro, pariatur recusandae nesciunt sed reprehenderit iusto 
                        officia deleniti totam cum velit.
                    </p>
                </div>
                <a href="" class="link">Proceed to checkout</a>
            </div>
        </main>
{% endblock  %}
