{% extends "./base.html" %}
{% load static %}
{% block title %}Order Complete{% endblock %}
{% block content %}
    <div class="container order">
        <main>
            <section>
                <div class="div">
                    <svg xmlns="http://www.w3.org/2000/svg" width="106" height="99" viewBox="0 0 106 99" fill="none">
                        <path d="M31.6335 91.9702C22.0384 87.1726 9.64476 63.5847 4.64731 52.3904C-1.90397 39.1972 2.24854 33.7998 2.84823 29.602C3.32799 26.2437 9.04506 20.2068 11.8436 17.6081C15.042 14.01 25.6366 5.85421 42.428 2.01617C63.4173 -2.78137 85.6059 10.4119 97.0001 20.6067C106.115 28.7625 105.995 40.3965 104.796 45.1941C102.597 51.3909 95.3209 67.7426 83.8068 83.5745C69.4142 103.364 43.6274 97.9671 31.6335 91.9702Z" fill="#F6F7FA" stroke="#F6F7FA" stroke-width="1.19939"/>
                    </svg>
                    <i class="bi bi-check-circle-fill"></i>
                    <h1>Your Order Is Completed!</h1>
                    <p>Thank You for your order! Your order is beging processed and will be completed within 3-6 hours. You will receive an email confirmation when your order is completed.</p>
                    <button><a href="">Continue Shoping</a></button>
                </div>
            </section>
        </main>
    </div>
{% endblock  %}
