{% extends "./base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
    <div class="container policy">
        <main>
            <section class="cookie" id="cookie">
                <h1>Cookie Policy</h1>
                <p>
                    This section explains how Justgym 
                    Fitness Wear uses cookies and 
                    similar technologies on our website.
                </p>
                <h2>What Are Cookies:</h2>
                <p>
                    Cookies are small text files that are stored 
                    on your device when you visit a website. 
                    They help us recognize your device and 
                    provide a better user experience.
                </p>
                <h2>How We Use Cookies:</h2>
                <ul>
                    <h3>We use cookies to:</h3>
                    <li>
                        <i class="ri-lock-fill"></i>Remember your preferences and settings.
                    </li>
                    <li>
                        <i class="ri-lock-fill"></i>Understand how you use our website.
                    </li>
                    <li>
                        <i class="ri-lock-fill"></i>Provide relevant advertisements.
                    </li>
                    <li>
                        <i class="ri-lock-fill"></i>Improve our website and services.
                    </li>
                </ul>
                <h2>Types of Cookies:</h2>
                <ul>
                    <li>
                        <i class="ri-lock-fill"></i>
                        Essential Cookies: 
                        Necessary for the website to function properly. 
                        They enable basic features like navigation and 
                        access to secure areas.
                    </li>
                    <li>
                        <i class="ri-lock-fill"></i>
                        Functional Cookies: 
                        Enhance your experience by remembering your 
                        preferences and settings.
                    </li>
                    <li>
                        <i class="ri-lock-fill"></i>
                        Analytical Cookies: 
                        Help us understand how visitors use our website, 
                        allowing us to improve it.
                    </li>
                    <li>
                        <i class="ri-lock-fill"></i>
                        Advertising Cookies: 
                        Used to deliver advertisements that are relevant 
                        to your interests.
                    </li>
                </ul>

                <h2>Managing Cookies:</h2>
                <p>
                    You can manage cookies through your browser settings. 
                    Please note that blocking or deleting cookies may 
                    impact your browsing experience.
                </p>
            </section>
            <section class="privacy" id="privacy">
                <h1>Privacy Policy</h1>
                <p>
                    This Privacy Policy describes how Justgym Fitness Wear 
                    ("we," "us," or "our") collects, uses, and discloses personal information when you visit our website, use our services, or interact with us. By accessing or using our services, you agree to the practices described in this Privacy Policy.
                </p>

                <h2>Information We Collect:</h2>

                <p>
                    Personal Information: We may collect information such as your name, email address, shipping address, payment details, and other information you provide when making a purchase or registering an account.
                    Usage Information: We collect information about how you interact with our website, including your IP address, browser type, pages viewed, and referring website.
                    Cookies and Tracking Technologies: We use cookies and similar technologies to gather information about your browsing activities on our website. You can control cookies through your browser settings.
                </p>

                <h2>How We Use Your Information:</h2>
                <p>
                    Provide Services: We use your information to process orders, ship products, and provide customer support.
                Improve and Personalize: We use data to improve our services, understand customer preferences, and personalize your experience.
                Marketing: With your consent, we may send you promotional emails about our products and special offers. You can opt-out at any time.
                </p>

                <h2>Sharing Your Information:</h2>
                <p>
                    We may share your information with third-party service providers who assist us with order processing, payment, shipping, and marketing activities. We do not sell your personal information to third parties.
                </p>

                <h2>Your Choices:</h2>
                <p>You can update your account information, unsubscribe from marketing emails, and manage cookies through your browser settings.</p>

                <h2>Security:</h2>
                <p>We implement security measures to protect your information from unauthorized access and use.</p>

                <h2>Changes to this Policy:</h2>
                <p>
                    We may update this Privacy Policy from time to time. The latest version will be posted on our website.
                </p>

                <h2>Contact Us:</h2>
                <p>
                    If you have questions or concerns about our Privacy Policy, please contact us at info@justgym.com.
                </p>
            </section>
        </main>
    </div>
{% endblock %}