{% extends "../base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div>
    <main class="pt-5">
        <img src="{{ product.image.url }}">
        <h1>{{ product.title }}</h1>
        <p><span>{{ product.author }}</span> (Author)</p>
        <p>{{ product.description|slice:":355" }}...</p>
        <div><span class="h4 fw-bold">£{{ product.price }}</span></div>
        <button type="button" id="add-button" value="{{product.id}}">Add to basket</button></div>
    </main>
</div>
<script>
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_add" %}',
            data: {
                productid: $('#add-button').val(),
                productqty: $('#select option:selected').text(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
               document.getElementById("basket-qty").innerHTML = json.qty
            },
            error: function (xhr, errmsg, err) {}
        });
    })
</script>

{% endblock %}
